.making__list {
  display: block;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.making__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}

.making__background {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  @include align-list;
}

.making__caption {
  margin-top: 0;
  margin-bottom: 10px;
  @include font(700, null, 1.14, 0.03em);
  text-transform: uppercase;
  color: inherit;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.making__clarification {
  margin-top: 0;
  @include font(400, null, 1.71, 0.03em);
  color: var(--secondary-text-color);
}
