.mobile-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-white-color);
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-left: 40px;
    overflow-y: auto;
  }
}

.mobile-menu-btn {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background: var(--primary-white-color);
  border: none;
  cursor: pointer;
  @include align-list;
  &:hover .modal__icon,
  &:focus .modal__icon {
    fill: var(--accent-color);
  }
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__link {
  @include font(500, 40px, 1.17, 0.02em);
  color: inherit;
  transition: color var(--transition-timing-function);
  &:hover,
  &:focus,
  &:active,
  &--current {
    color: var(--accent-color);
  }
}

.mobile-menu__tel {
  display: block;
  margin-bottom: 32px;
  @include font(500, 34px, 1.17, 0.02em);
  color: var(--secondary-text-color);
  transition: color var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__mail {
  display: block;
  margin-bottom: 64px;
  @include font(500, 24px, 1.16, 0.02em);
  color: var(--secondary-text-color);
  transition: color var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu__soc-list {
  display: flex;
  flex-wrap: wrap;
}

.mobile-menu__soc-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;
  }
  &:not(:first-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 3.5vh;
    background-color: var(--main-text-color);
    top: 0;
    left: -10px;
  }
}

.mobile-menu__soc-link {
  @include font(500, 3vw, 1.12, 0.02em);
  color: var(--secondary-text-color);
  transition: color var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}
